@import url("base.css");
/*默认样式*/
.topBar{
    height: 40px;
    background: #333333;
    position: relative;
}
.content,.headerContent{
    width: 1226px;
    height: 100%;
    margin: 0 auto;
    /*position: relative;*/
}
.barNav{
    /*width: 667px;*/
    height: 100%;
    float: left;
    font-size: 12px;
    color: #b0b0b0;
    line-height: 40px;
}

.barNav a,.barInfo a{
    font-size: 12px;
    color: #b0b0b0;
}
.barNav a:hover,.barInfo a:hover{
    color: #ffffff;
}
.barNav .app{
    /*display: inline-block;*/
    width: 50px;
    height: 40px;
    position: relative;
}
.barNav .ewmTop{
    width: 124px;
    /*height: 118px;*/
    position: absolute;
    top: 30px;
    left: 50%;
    padding: 18px 0px 14px;
    background: rgb(255, 255, 255);
    margin-left: -55px;
    box-shadow: rgb(170, 170, 170) 0px 1px 5px;
    display: none;
    z-index: 20000;
}
.ewmTop:after{
    content: "";
    width: 16px;
    height: 16px;
    background: #fff;
    position: absolute;
    top: -8px;
    left: 40%;
    transform:rotate(45deg);
    z-index: -1;
}
.barNav .ewmTop .xiaomi{
    display: block;
    font-size: 14px;
    color: #333;
    line-height:1;
    margin-top:14px;
    text-align: center;
}
.barNav .ewmTop>img{
    display: block;
    width: 90px;
    height: 90px;
    margin: 0 auto;
}
/*购物车*/
.barCart{
    /*width: 120px;*/
    height: 100%;
    float: right;
    font-size: 12px;
    background: #424242;
    line-height: 40px;
    text-align: center;
    position: relative;
}
.barCart a{
    display: block;
    color: #b0b0b0;
    padding: 0 0 0 5px;
}
.barCart a:hover{
    color: #ff6700;
    background: #ffffff;
}
.cart-menu {
    display: none;
    height: 40px;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 31;
    width: 316px;
    padding: 20px 0 ;
    color: #424242;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
.loging{
    font-size: 14px;
    color: #424242;
}
/*顶部*/
.sercherWords{
    position: absolute;
    top: 75px;
    right: 120px;
    text-align: right;
    font-size: 12px;
}
.sercherWords a{
    background:#eee ;
    line-height: 21px;
    padding: 0 5px;
}
.sercherWords a:hover{
    color: #ffffff;
    background: #ff6700;
}
.barInfo{
    /*width: 142px;*/
    height: 100%;
    float: right;
    line-height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    padding: 0 10px;
}
/*topbar*/
.header{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.header .xiaomiGw{
    float: left;
    width: 55px;
    height: 55px;
    margin: 22px 179px 22px 0;
    /*margin-right: 179px;*/
}
.headerCenter{
    float: left;
    height: 100px;
    /*line-height: 100px;*/
    color: #333333;
}
.headerCenter .item{
    margin: 0 5px;
    text-align: center;
    line-height: 100px;
}
.item-box{
    height: 100px;
    float: left;
}
.nav-service{
    width: 104px;
    height: 88px;
    float: left;
}
.headerCenter a:hover{
    color: #ff6700;
}
.slide-box{
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #ffffff;
    transition: all 0.5s;
    z-index: 10000;
}
.slide-box.active{
    height: 229px;
    border-top: 1px solid #cccccc;
    box-shadow: 0 2px 8px #cccccc;
}
.boxs{
    width: 1226px;
    height: 229px;
    margin: 0 auto;
    background: #ffffff;
    position: relative;
}
.goods-box{
    width: 1226px;
    height: 229px;
    margin: 0 auto;
    background: #fff;
    display: block;
}
.goods-box.active{
    display: block;
}
.goods{
    position: relative;
    float: left;
    width: 180px;
    padding: 35px 12px 0;
    text-align: center;
}
.figure{
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
    text-align: center;
}
.figureImg{
    display: block;
    width: 160px;
    height: 110px;
}
.title{
    color: #333;
    font-size: 12px;
}
.topPrice{
    font-size: 12px;
    margin: 0;
    line-height: 20px;
    color: #ff6700;
}
.flags{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.flag{
    display: inline-block;
    height: 18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
}
.rightLine{
    width: 1px;
    height: 100px;
    background: #cccccc;
    margin-top: 40px;
    margin-left: -1px;
    float: left;
}

.sercher a{
    float: right;
    width: 48px;
    height: 48px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    margin-top: 22px;
    text-align: center;
    line-height: 48px;
}
.sercher a:hover{
    background: #ff6700;
    color: #ffffff;
}
.sercherText{
    float: right;
    width: 223px;
    height: 48px;
    border: 1px solid #e0e0e0;
    padding: 0 10px;
    font-size: 14px;
    margin-top: 22px;
}
/*header*/
.fixed{
    z-index: 10000;
    /*height: 162px;*/
    width: 25px;
    position: fixed;
    right:50%;
    margin-right: -640px;
    top: 330px;
    text-align: center;

}
.fixedRight{
    width: 23px;
    height: 38px;
    border: 1px solid #f5f5f5;
    line-height: 40px;
    font-size: 20px;
    color: #757575;
    background: #ffffff;
    position: relative;
}
.fixedRight a:hover,.back:hover{
    color: #ff6700;
}
.ewmFixed{
    height: 187px;
    background: #fff;
    border: 1px solid #f5f5f5;
    position: absolute;
    right: 35px;
    top: 0;
    display: none;
}
.ewmFixed>img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 20px 14px;
}
.fixedText,.textRight{
    color: #757575;
    font-size: 14px;
    text-align: center;
    padding: 0 8px;
    line-height: 27px;
    width: 83px;
    margin: -10px auto 0;
    position: relative;
}
.ewmFixed:after{
    content: "";
    width: 10px;
    height: 10px;
    background: #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: -6px;
    top: 20px;
    z-index: -1;
}
.textRight{
    position: absolute;
    right: 35px;
    top: 16px;
    background: #ffffff;
    display: none;
}
.textRight:after{
    content: "";
    width: 10px;
    height: 10px;
    background: #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: -5px;
    top: 8px;
    z-index: -1;
}
.back{
    margin-top: 20px;
    width: 23px;
    height: 38px;
    border: 1px solid #f5f5f5;
    line-height: 40px;
    font-size: 20px;
    color: #757575;
    background: #ffffff;
    display: none;
}
.back.active{
    display: block;
}
/*固定*/
.banner{
    height: 460px;
    position: relative;
    background: #ffffffff;
}
#imgBox{
    width: 1226px;
    height: 460px;
}

#imgBox>li{
    width: 1226px;
    height: 460px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.8s;
    opacity: 0.6;
}
#imgBox>li.active{
    z-index: 1;
    opacity: 1;
}
#imgBox>li>a{
    display: block;
    width: 1226px;
    height: 460px;
}
#imgBox>li>a>img{
    width: 1226px;
    height: 460px;
    display: block;
}
#pagerBox{
    width: 100px;
    height: 10px;
    position: absolute;
    right: 30px;
    bottom: 20px;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
}
#pagerBox li{
    width: 6px;
    height: 6px;
    background: #757575;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 50%;
}
#pagerBox>li.active{
    border:2px solid rgba(0,0,0,0.4);
    background: #ffffff;
}
.slides{
    width: 40px;
    height: 69px;
    background-image: url("../images/icon-slides.png");
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
}
#pre{
    left: 233px;
    background-position: -83px 0;
}
#pre:hover{
    background-position: 1px 0;
}
#next{
    right: 0;
    background-position: -125px 0;
}
#next:hover{
    background-position: -43px 0;
}
ul.aslide{
    width: 234px;
    height: 420px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    padding: 20px 0;
}
.aslideList{
    width: 100%;
    height: 42px;
}
.aslideList a{
    display: block;
    width: 174px;
    padding: 0 30px;
    font-size: 14px;
    line-height: 42px;
    color: #ffffff;
}
.aslideList a:hover{
    background: #ff6700;
}
.aslideList a i{
    float: right;
    font-size: 14px;
}
.rightSlide{
    position: absolute;
    left: 234px;
    top: 0;
    width: 100%;
    height:460px;
    z-index: 10000;
    overflow: hidden;
    display: none;
}
.rightSlide.active{
    display: block;
    border-top: 1px solid #cccccc;
    box-shadow: 0 2px 8px #cccccc;
}
.listRight{
    width: 100%;
    height: 460px;
    display: block;
}
.list{
    width: 248px;
    height: 460px;
    background: #ffffff;
    display: block;
    float: left;
}
.listContent{
    padding: 18px 20px;
    line-height: 40px;
    height: 40px;
    color: #333;
    transition: color .2s;
    cursor: pointer;
}
.thumb{
    float: left;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border: 0;
}
.text{
    font-size: 14px;
}
.text:hover{
    color: #ff6700;
}
.listRight.active{
    display: block;
}

/*banner部分*/
.bannerNext{
    margin-top: 14px;
    margin-bottom: 26px;
    height: 170px;
}
ul.bannerNextLeft{
    float: left;
    width: 228px;
    height: 164px;
    padding: 3px;
    background: #333333;
    margin-right: 2px;
}
.leftContent{
    width: 76px;
    height: 62px;
    text-align: center;
    padding: 10px 0;
    float: left;
}
.leftContent a i{
    font-size: 24px;
    color: rgba(255,255,255,0.7);
}
.leftContent a p{
    font-size: 12px;
    color: rgba(255,255,255,0.7);
}
.leftContent a:hover i,.leftContent a:hover p{
    color: #ffffff;
    /*transition: .5s;*/
}
.bannerNextRight a img{
    display: block;
    height: 170px;
    width: 316px;
    margin-left: 14px;
    float: left;
}
.bannerNextRight img:hover{
    box-shadow: 0 5px 10px rgba(176, 176, 176, 0.62);
    transition: all 1s;
}
/*bannerNext*/
.micontent{
    height: 598px;
}
.shopping{
    height:58px ;
    width: 1226px;
    margin: 0 auto;
}
.shopping h2{
    font-weight: 200;
    font-size: 22px;
    color: #333333;
    line-height: 58px;
    float: left;
}
.shopping .jiantouLeft{
    width: 34px;
    height: 23px;
    float: right;
    border: 1px solid #e0e0e0;
    line-height: 23px;
    text-align: center;
    color: #e0e0e0;
    margin-top: 23px;
}
.shopping .jiantouRight{
    width: 33px;
    height: 23px;
    float: right;
    border: 1px solid #e0e0e0;
    border-left: 0;
    line-height: 23px;
    text-align: center;
    color: #b0b0b0;
    margin-top: 23px;
}
.jiantouRight:hover,.jiantouLeft:hover{
    color: #ff6700;
}
.sgPicture{
    width: 234px;
    height: 339px;
    border-top: 1px solid #e53935;
    background: #f1eded;
    text-align: center;
    float: left;
    /*display: inline-block;*/
}
.timeTitle{
    font-size: 21px;
    color: #ef3a3b;
    height: 31px;
    line-height: 31px;
    text-align: center;
    width: 100%;
    margin-top: 55px;
}
.sgPicture img{
    margin: 25px auto;
}
.sgPicture .sub{
    width: 100%;
    height: 22px;
    line-height: 22px;
    /*text-align: center;*/
    color: rgba(0,0,0,0.54);
    font-size: 15px;
}
ul.countDown{
    width: 168px;
    height: 46px;
    margin-top: 28px;
    padding: 0 33px;
}
.countDown li{
    display: inline;
}
.time1,.time2,.time3{
     float: left;
     width: 46px;
     height: 46px;
     background: #605751;
     line-height: 46px;
     font-size: 22px;
     color: #ffffff;

}
.dosh{
     float: left;
     width: 15px;
     height: 46px;
     line-height: 46px;
}
.sgContent{
    float: left;
    margin-right: 14px;
     width: 234px;
     height: 339px;
     border-top: 1px solid #ffac13;
     background: #fafafa;
 }
.sgContent h3{
    font-weight: 400;
    color: #212121;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}
.sgContent p{
    font-size: 12px;
    color: #b0b0b0;
    line-height: 18px;
    margin-bottom: 12px;
    text-align: center;
}
.price span{
    color: #ff6709;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
}
.price del{
    font-size: 14px;
    text-decoration: line-through;
}
.mitu{
    border-top-color: #83c44e;
}
.huyao{
    border-top-color: #2196f3;
  }
.jimu{
    border-top-color: #e53935;
  }
.flash{
    width: 978px;
    height: 340px;
    overflow: hidden;
    margin-left: 14px;
    float: right;
}
.flash-content{
    width: 5000px;
    height: 340px;
}

.flash-one{
    width: 978px;
    height: 340px;
    /*margin-right: 14px;*/
    display: flex;
    justify-content: space-between;
    float: left;
}
.heisha img{
    float: left;
    width: 100%;
    height: 120px;
    margin: 40px 0;
}
/*小米闪购*/
.gray{
    height: 1412px;
    background: #ffffff;
}
/*白背景*/
.iphoneContent,.jiadianContent1,.jiadianContent2,.jiadianContent3,.jiadianContent4,.jiadianContent5{
    height: 686px;
}
.lookAll{
    line-height: 58px;
    float: right;
    color: #424242;
}
.lookAll a i{
    color: #b0b0b0;
    margin-left: 10px;
}
.lookAll a:hover,.lookAll a:hover i{
    color: #ff6700;
}

.iphone{
    height: 58px;
    float: left;
}
.iphone h2{
    font-weight: 200;
    font-size: 22px;
    color: #333333;
    line-height: 58px;
    float: left;
}
.iphoneLeft{
    width: 234px;
    height: 628px;
    float: left;
}
.iphoneLeft img{
    float: left;
    width: 234px;
    height: 614px;
}
.iphoneRight{
    float: right;
    width: 992px;
}
.xioami8,.xioami8SE{
    width: 234px;
    height: 280px;
    padding-bottom: 20px;
    margin-bottom: 14px;
    margin-left: 14px;
    text-align: center;
    float: left;
    position: relative;
    background: #ffffff;
    overflow: hidden;
}
.review{
    width: 234px;
    height: 76px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    /*width: 234px;*/
    /*height: 0;*/
    overflow: hidden;
    font-size: 12px;
    background: #ff6700;
    opacity: 0;
    transition: all .3s linear;
}
.review a{
    display: block;
    padding: 8px 30px;
    outline: 0;
}
.review a .reviewOne{
    color: #fff;
    margin-bottom: 5px;
    float: left;
}
.review a .reviewTwo{
    color: rgba(255,255,255,0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}
.jiadian>li:hover .review{
    opacity: 1;
}
/*浮现效果*/
.xioami8:hover,.xioami8SE:hover,.iphoneLeft img:hover,.jiadianLeft img:hover,.shangpin:hover,.gengduo:hover,.remenInfo:hover,.videoInfo:hover,.contentBox:hover{
    box-shadow: 0 3px 10px  5px #dedede;
    transition: all 0.8s;
    transform: translateY(-3px);
}
.xioami8 .top{
    width: 64px;
    height: 20px;
    background: #83c44e;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    left: 85px;
}
.picture img{
    width: 160px;
    height: 160px;
    margin: 20px auto 18px;
}
.picture h3{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
 .zhushi{
    font-size: 12px;
    color: #b0b0b0;
    height: 18px;
    text-align: center;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px 10px;
}
.picture .price{
    color: #ff6700;
    font-size: 14px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin: 0 10px 14px;
}
.xioami8SE .Top{
    width: 64px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    left: 85px;
    background: #e53935;
}
.price del{
    text-decoration: line-through;
    color: #b0b0b0;
    font-size: 14px;
}
 .xiaomiTV{
    width: 1226px;
    height: 120px;
    margin: 28px auto 22px;
     /*float: left;*/
}
.xiaomiTV img{
    width: 100%;
    height: 120px;
}
/*手机*/
.jiadain-box,.zhineng-box,.dapei-box,.peijian-box,.zhoubian-box{
    width: 992px;
    height: 628px;
    float: right;
    overflow: hidden;
    position: relative;
}
.jiadian,.jiadian2,.jiadain3,.jiadain4,.jiadain5{
    width: 992px;
    height: 628px;
    float: right;
    display: none;
}
.jiadian.active,.jiadian2.active,.jiadian3.active,.jiadian4.active,.jiadian5.active{
    display: block;
}
.jiadianLeft img{
    /*width: 234px;*/
    height: 300px;
    /*float: left;*/
    margin-bottom: 14px;
}
.Picture img{
    display: block;
    width: 150px;
    height: 150px;
    margin: 20px auto 18px;
}
.Picture h3{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px;
}
.Picture .price del{
    text-decoration: line-through;
    color: #b0b0b0;
    font-size: 14px;
}
.shangpin{
    width:214px ;
    height: 113px;
    padding-right: 20px;
    padding-top: 30px;
    margin-bottom: 14px;
    margin-left: 14px;
    float: left;
    background: #ffffff;
}
.shangpin img{
    width: 80px;
    height: 80px;
    float: right;
}
.shangpin h3{
    font-weight: 400;
    font-size: 14px;
    width: 94px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0 10px 30px;
    float: left;
}
.shangpin .price{
    margin-left: 30px;
    color: #ff6700;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}
.gengduo{
    width:174px ;
    height: 49px;
    padding: 47px 30px;
    margin-bottom: 14px;
    margin-left: 14px;
    float: left;
    background: #ffffff;
}
.gengduo p{
    font-size: 18px;
}
.gengduo span{
    font-size: 12px;
    color: #b0b0b0;
}
.gengduo i{
    font-size: 48px;
    float: right;
    margin-top: -10px;
    color: #ff6700;
}
.menu1,.menu2,.menu3,.menu4,.menu5{
    float: right;
}
.menu1 li,.menu2 li,.menu3 li, .menu4 li,.menu5 li{
    display: inline;
    height: 24px;
    border-bottom: 2px solid #f5f5f5;
    margin-left: 20px;
    padding-bottom: 5px;
    margin-top: 15px
}
.menu1 a li,.menu2 a li,.menu3 a li, .menu4 a li,.menu5 a li{
    display: inline-block;
    margin-top: 10px;
}
.menu1 a li.active,.menu2 a li.active,.menu3 a li.active, .menu4 a li.active,.menu5 a li.active{
    color: #ff6700;
    border-bottom-color: #ff6700;
}
.menu1>a>li:hover,.menu2>a>li:hover,.menu3>a>li:hover,.menu4>a>li:hover,.menu5>a>li:hover{
    color: #ff6700;
    border-bottom-color: #ff6700;
}
/*家电*/
.tuijian{
    height: 372px;
}
/*为你推荐*/
.remen{
    height: 487px;
}
.remenInfo{
    width: 296px;
    height: 415px;
    margin-bottom: 14px;
    background: #ffffff;
    margin-left: 14px;
    float: left;
    position: relative;
}
.remenImg img{
    display: block;
    height: 220px;
    margin-bottom: 30px;
}
.remen a p{
    width: 240px;
    height: 72px;
    font-weight: 400;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 30px  10px;
}
.laiyuan{
    font-size: 12px;
    color: #b0b0b0;
    width: 230px;
    height: 18px;
}
/*热门产品*/
.neirong{
    height: 492px;
}
#container{
    width: 1226px;
    height: 420px;
    /*float: left;*/
    display: flex;
    justify-content: space-between;
}
.contentBox{
    width: 296px;
    height: 374px;
    background: #ffffff;
    padding-top: 45px;
    border-top: 1px solid #ffac13;
    text-align: center;
    overflow: hidden;
    transition: all 0.8s;
    position: relative;
}
.contentBox h2{
    font-weight: 400;
    text-align: center;
    color: #ff6700;
    font-size: 16px;
    margin-bottom: 18px;
}
.book{
    width: 2000px;
    height: 275px;
    transition: all 0.8s;
}
.book>li{
    width: 296px;
    height: 275px;
    float: left;
}
.book h4{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    height: 25px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
.book img{
    width: 216px;
    height: 154px;
}
.book p{
    font-size: 12px;
    color: #b0b0b0;
    line-height: 20px;
    text-align: center;
    padding: 0  48px 10px;
    margin-top: 5px;
}
.leftClick{
    width: 20px;
    height: 24px;
    padding: 12px 0;
    position: absolute;
    left: 0;
    top: 190px;
    background: #ffffff;
}
.rightClick{
    width: 20px;
    height: 24px;
    padding: 12px 0;
    position: absolute;
    right: 0;
    top: 190px;
    background: #ffffff;
    /*background: rgba(66,66,66,0.2);*/
}
.contentBox:hover .leftClick{
    background: rgba(66,66,66,0.2);
    transition: all 1s;
}
.contentBox:hover .rightClick{
    background: rgba(66,66,66,0.2);
    transition: all 1s;
}
.leftClick  i,.rightClick i{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}
.contentBox:hover .leftClick:hover,.contentBox:hover .rightClick:hover{
    background: #b0b0b0;
    transition: all 1s;
}
.pagers{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.pagers>li{
    width: 6px;
    height: 6px;
    margin: 0 20px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    background: #cccccc;
}
.pagers>li.active{
    border: 2px solid #ff8106;
    background: #ffffff;
}
.pagers>li.active:hover{
    background: #ffffff;
}
.pagers>li:hover{
    background: #ff8106;
}
.pagers .page-active:hover{
    background: #ffac13;
}
.btnBlock,.miui,.youxi,.yingyong{
    display: inline-block;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    border:1px solid #ffac13;
    background: #fff;
    color: #ffac13;
    transition: all 0.7s;
}
.btnBlock:hover{
    background: #ffac13;
    color: #ffffff;
    transition: all 0.7s;
}
.miui{
    border:1px solid #83c44e;
    color: #83c44e;
}
.miui:hover{
    background: #83c44e;
    color: #ffffff;
}
.youxi{
    border:1px solid #e53935;
    color: #e53935;
}
.youxi:hover{
    background: #e53935;
    color: #ffffff;
}
.yingyong{
    border:1px solid #2196f3;
    color: #2196f3;
}
.yingyong:hover{
    background: #2196f3;
    color: #ffffff;
}
/*内容*/
.video{
    height: 357px;
    margin-bottom: 60px;

}
.videoTop{
    width: 100%;
    height: 180px;
}
.videoInfo{
    width: 296px;
    height: 285px;
    margin-bottom: 14px;
    margin-left: 14px;
    background: #ffffff;
    float: left;
    position: relative;
}
.videoInfo .play{
    position: absolute;
    left: 20px;
    top: 145px;
    width: 32px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    border: 2px solid #fff;
    border-radius: 12px;
    background: rgba(0,0,0,0.6);;
}
.play i{
    margin-left: 4px;
}
/*.play:hover{
    background: #ff6700;
    border-color: #ff6700;
}*/

.videoInfo img{
    display: block;
    height: 180px;
    margin-bottom: 20px;
}
.videoInfo p{
    text-align: center;
}
.videoInfo p a:hover{
    color: #ff6700;
}
.videoTop:hover .play{
    background: #ff6700;
    border-color: #ff6700;
    transition: all 0.05s;
}
/*视频*/
.footer{
    height: 272px;
    background: #ffffff;
}
.service{
    height: 79px;
    line-height: 80px;
    border-bottom: 1px solid #e0e0e0;
    color: #616161;
}
.service li {
    width: 230px;
    text-align: center;
    display: inline-block;
}
.service a:hover, .links a:hover,.one a:hover{
    color: #ff6700;
}
.footerLink{
    height: 112px;
    padding: 40px 0;
}
.links{
    float: left;
    width: 160px;
    height: 112px;
    font-size: 14px;
}
.links .list-links{
    margin-top: 10px;
    font-size: 12px;
}
.list-links a{
    color: #757575;
}
.footerButtom{
    height: 172px;
    padding: 30px 0;
}
.one{
    height: 119px;
}
.one img{
    display: inline-block;
    float: left;
}
.two{
    font-size: 12px;
    color: #b0b0b0;
}
.three{
    height: 28px;
    width: 100%;
    margin-top: 5px;
}
.three img{
    display: inline-block;
    height: 28px;
    width: 85px;
    margin-right: 8px;
}
.four{
    width: 252px;height: 112px;
    text-align: center;
    border-left: 1px solid #b5b5b5;
     float: right
}
.five a{
    display: inline-block;
    width: 120px;
    height: 30px;
    border: 1px solid #ff6700;
    color: #ff6700;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    margin-top: 6px;
}
.five a:hover{
    color: #ffffff;
    background: #ff6700;
}
.hover:hover{
    color: #ff6700;
}
/*加Javascript*/

.goods-inner{
    width: 6000px;
    height: 300px;
}
.rec-content{
    width: 1226px ;
    height: 300px;
    overflow: hidden;
}
.recommend{
    width: 1226px ;
    height: 300px;
    float: left;
    margin: 0 auto;
}